name: flutter_consts
description: "Flutter constants for almost everything :)"
homepage: https://github.com/palmerovicdev/flutter_consts

version: 1.0.0

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true